

.title{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783,#e60000) 0 / 200%;
    animation: 5s example4 linear infinite;
    text-align:center;
    display: flex;
    overflow: hidden;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}
@keyframes example4{
    100% { background-position: 200%; }
}
.container {
  width: 30vw;
  height: 30vh;
  position: relative;
  background: rgb(0, 0, 0);
  overflow: hidden;
}
body{padding-top: 30px;
padding-left: 50px;
font-family: serif;
font-size: 130%;
padding-right: 600px;
}
body{border: solid #000000
}

/*
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
  transform: translate(0, 0);
}

/*